
- const saludo= "Hola como estan?"
- const arreglo = [1,2,3,4,5];

html
    head 
        title 'Mi primera plantilla PUG' 
    body
        h1 Hola desde PUG  <!-- Variable -->
        h1= "Hola desde PUG"  /** Variable asignada */
        h1(style="color: red") Hola desde PUG  <!-- Variable con estilo aplicado -->
        p= "<b>Hola desde PUG</b>" /** <b>Hola desde PUG</b> */
        p!= "<b>Hola desde PUG</b>" /** Hola desde PUG */
        p= saludo /** Hola como estan */
        p saludo <!-- saludo -->
        ul 
            each item in arreglo
                li= `Item ${item}`